
<html>
<head>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body>
    <div class="container" style="padding:20px; max-width: 800px;">
        <div class="card card-body bg-light">
            <h1><%= title %></h1>
            <p>sessionID: <%= sessionID %></p>
            <h3>you're logged in as:</h3>
            <p>username: <%= user.username %></p>
            <p>email: <%= user.email %></p>
            <p>_id: <%= user._id %></p>
            <p>createdAt: <%= user.createdAt %></p>
            <p>updatedAt: <%= user.updatedAt %></p>
            <p>role: <%= user.role %></p>
            <p>isDeleted: <%= user.isDeleted %></p>
            <form action="users/logout" method="get">
                <h3>logout</h3>
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>
    </body>
    </html>